In [1]:
%pip install -U --no-cache-dir "numpy==2.3.2" "pandas>=2.2.3" openpyxl

Requirement already satisfied: numpy==2.3.2 in /Users/duyha/anaconda3/lib/python3.11/site-packages (2.3.2)
Requirement already satisfied: pandas>=2.2.3 in /Users/duyha/anaconda3/lib/python3.11/site-packages (2.3.2)
Requirement already satisfied: openpyxl in /Users/duyha/anaconda3/lib/python3.11/site-packages (3.1.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/duyha/anaconda3/lib/python3.11/site-packages (from pandas>=2.2.3) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/duyha/anaconda3/lib/python3.11/site-packages (from pandas>=2.2.3) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /Users/duyha/anaconda3/lib/python3.11/site-packages (from pandas>=2.2.3) (2023.3)
Requirement already satisfied: et-xmlfile in /Users/duyha/anaconda3/lib/python3.11/site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in /Users/duyha/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas>=2.2.3) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
a.update?

In [6]:
s1 = '123'
s2 = '456'
{**dict(zip(s1, s2))}

{'1': '4', '2': '5', '3': '6'}

In [7]:
1 >= float('-inf')

True

In [8]:
from sortedcontainers import SortedList

In [9]:
sl = SortedList([4,5,6,1,2,9,8])

In [10]:
sl

SortedList([1, 2, 4, 5, 6, 8, 9])

In [11]:
sl[0]

1

In [12]:
sl[-1]

9

In [18]:
sl.add(123)
sl.add(-10)

In [20]:
from collections import defaultdict

In [28]:
a = defaultdict(int)

In [29]:
a[3] += 3

In [25]:
a

defaultdict(int, {3: 3})

In [30]:
3 // 2

1

In [31]:
-1 // 2

-1

In [32]:
1// 2

0

In [35]:
int('000010101011010100010101101010010', 2)

359279442

In [37]:
max((1, 2), (1, 3))

(1, 3)

In [38]:
max((1, 3), (1, 2))

(1, 3)

In [43]:
a = [1,2,3,4,5]

In [44]:
a[2:4] += a[1:3]

In [45]:
a

[1, 2, 3, 4, 2, 3, 5]

In [2]:
import numpy as np
import numpy as np; print(np.__version__)

2.3.2

In [5]:
a = np.array([1,2,3])
a[2] = 110
a

array([  1,   2, 110])

In [8]:
a = np.zeros((2, 3), dtype=bool)
a

array([[False, False, False],
       [False, False, False]])

In [9]:
len(a), len(a[0])

(2, 3)

In [5]:
import pandas as pd

In [6]:
f1 = 'moon1.dog_-_By_Service.xlsx'
# f2 =

In [9]:
import pandas as pd
from pathlib import Path

path = Path("/Users/duyha/Downloads/moon1.dog_-_By_Service.xlsx")
sheets = pd.read_excel(path, sheet_name=None)  # dict of {sheet_name: DataFrame}
print(list(sheets.keys()))
display(sheets[next(iter(sheets))].head())  # show first sheet

['Sheet1']

,Service,API Gateway($),Elastic File System($),X-Ray($),SES($),SNS($),ElastiCache($),SimpleDB($),Tax($),Config($),...,WAF($),Redshift($),EC2 Container Registry (ECR)($),EC2-Instances($),SQS($),Budgets($),CloudSearch($),Athena($),EC2-Other($),Total cost ($)
0,Service Total,5.920412,0.919388,0.0,0.100271,14.449259,6588.672,0.000027,3601.57,1231.663,...,14.999997,7273.35,96.036537,2.748019e+06,110.568122,0,12528.303030,0.12901,671008.5002,4655484.685
1,January,0.486613,0.919388,NaN,0.033560,6.732994,2220.096,0.000008,1284.13,338.221,...,5.000000,2449.35,50.565163,8.541583e+05,31.096825,0,4492.547501,0.12431,245472.5549,1554168.747
2,February,0.517401,0.000000,NaN,0.034722,4.125028,2148.480,0.000012,1158.03,415.720,...,4.999997,2372.95,30.223630,8.840529e+05,30.754074,0,3953.060088,0.00470,213944.7836,1492007.023
3,March,4.916398,0.000000,0.0,0.031989,3.591236,2220.096,0.000007,1159.41,477.722,...,5.000000,2451.05,15.247744,1.009808e+06,48.717223,0,4082.695439,NaN,211591.1617,1609308.915

In [71]:
import pandas as pd
from pathlib import Path

# Paths to the Excel files
p_service = Path("/Users/duyha/Downloads/moon1.dog_-_By_Service.xlsx")
p_usage   = Path("/Users/duyha/Downloads/moon1.dog_-_By_Usage_Type_2.xlsx")

# Load the first sheet from each file (change sheet_name if needed)
df_service = pd.read_excel(p_service, sheet_name=0)  # e.g., sheet_name="By Service"
df_usage   = pd.read_excel(p_usage,   sheet_name=0)  # e.g., sheet_name="By Usage Type 2"

# Peek at the data
display(df_service.head())
display(df_usage.head())

# Optional: list sheet names if you need to target a specific sheet
# print(pd.ExcelFile(p_service).sheet_names)
# print(pd.ExcelFile(p_usage).sheet_names)

,Service,API Gateway($),Elastic File System($),X-Ray($),SES($),SNS($),ElastiCache($),SimpleDB($),Tax($),Config($),...,WAF($),Redshift($),EC2 Container Registry (ECR)($),EC2-Instances($),SQS($),Budgets($),CloudSearch($),Athena($),EC2-Other($),Total cost ($)
0,Service Total,5.920412,0.919388,0.0,0.100271,14.449259,6588.672,0.000027,3601.57,1231.663,...,14.999997,7273.35,96.036537,2.748019e+06,110.568122,0,12528.303030,0.12901,671008.5002,4655484.685
1,January,0.486613,0.919388,NaN,0.033560,6.732994,2220.096,0.000008,1284.13,338.221,...,5.000000,2449.35,50.565163,8.541583e+05,31.096825,0,4492.547501,0.12431,245472.5549,1554168.747
2,February,0.517401,0.000000,NaN,0.034722,4.125028,2148.480,0.000012,1158.03,415.720,...,4.999997,2372.95,30.223630,8.840529e+05,30.754074,0,3953.060088,0.00470,213944.7836,1492007.023
3,March,4.916398,0.000000,0.0,0.031989,3.591236,2220.096,0.000007,1159.41,477.722,...,5.000000,2451.05,15.247744,1.009808e+06,48.717223,0,4082.695439,NaN,211591.1617,1609308.915

,UsageType,APS3-DataTransfer-In-Bytes($),USW1-APN2-AWS-Out-Bytes($),USW1-USE2-AWS-In-Bytes($),DeliveryAttempts-SMTP($),USW2-NatGateway-Bytes($),USE1-USE2-AWS-Out-Bytes($),USW2-UGW1-AWS-Out-Bytes($),APS3-RDS:GP2-Storage($),EU-DataTransfer-In-Bytes($),...,JP-Requests-Tier2-HTTPS($),USE2-FreeEventsRecorded($),BoxUsage:t2.xlarge($),us-east-2-KMS-Requests($),USW1-EUW2-AWS-In-Bytes($),RDS:Multi-AZ-StorageUsage($),APS3-APS1-AWS-Out-Bytes($),HeavyUsage:m3.2xlarge($),USE1-EUC1-AWS-Out-Bytes($),Total cost ($)
0,UsageType Total,0,0.017371,0,0,3.800000e-07,171.055233,1.400000e-07,1.965004,0,...,11.641636,0,256.478,0.000042,0,12.053761,0.000014,16024.235540,1694.964273,4655484.685
1,January,0,0.001450,0,0,NaN,68.021348,NaN,0.655003,0,...,4.146440,0,3.948,0.000006,0,4.053760,0.000005,5399.649936,613.066400,1554168.747
2,February,0,0.007505,0,0,NaN,56.901303,NaN,0.654998,0,...,3.857268,0,98.528,0.000027,0,4.000003,0.000003,5225.467680,556.394938,1492007.023
3,March,0,0.008416,0,0,3.800000e-07,46.132582,1.400000e-07,0.655003,0,...,3.637927,0,154.002,0.000009,0,3.999997,0.000006,5399.117927,525.502935,1609308.915

In [14]:
df_service.T

,0,1,2,3
Service,Service Total,January,February,March
API Gateway($),5.920412,0.486613,0.517401,4.916398
Elastic File System($),0.919388,0.919388,0.0,0.0
X-Ray($),0.0,NaN,NaN,0.0
SES($),0.100271,0.03356,0.034722,0.031989
SNS($),14.449259,6.732994,4.125028,3.591236
ElastiCache($),6588.672,2220.096,2148.48,2220.096
SimpleDB($),0.000027,0.000008,0.000012,0.000007
Tax($),3601.57,1284.13,1158.03,1159.41
Config($),1231.663,338.221,415.72,477.722
Kinesis Firehose($),29.101089,10.820412,9.763655,8.517022
WorkSpaces($),0.0,NaN,0.0,NaN
Route 53($),2773.201915,1020.425738,1065.593793,687.182383
CloudWatch($),14490.36061,14428.61185,49.906899,11.84186
Key Management Service($),843.288562,302.00245,283.462042,257.824069
DynamoDB($),843.043375,438.398867,227.749928,176.89458
Lambda($),234.2066,157.224455,33.443694,43.538451
Elasticsearch Service($),16863.41042,7940.945035,4824.428884,4098.036505
Premium Support($),165000,55000,55000,55000
Inspector($),0.0,NaN,NaN,0.0
S3($),527273.0818,192020.3415,169241.6837,166011.0566
CloudFront($),23906.85779,8547.627189,8083.85436,7275.376242
Glacier($),0.0,0.0,NaN,NaN
EC2-ELB($),342327.7467,127500.3408,111625.0812,103202.3247
CloudTrail($),193.67716,111.50586,82.1713,0.0
Kinesis($),195.657816,68.820471,66.600454,60.236891
EMR($),81614.729,26237.364,23823.059,31554.306
RDS($),28292.68694,9799.866728,9438.244032,9054.576183
VPC($),109.650015,74.250011,35.400004,NaN
WAF($),14.999997,5.0,4.999997,5.0
Redshift($),7273.35,2449.35,2372.95,2451.05
EC2 Container Registry (ECR)($),96.036537,50.565163,30.22363,15.247744
EC2-Instances($),2748018.804,854158.3435,884052.8967,1009807.564
SQS($),110.568122,31.096825,30.754074,48.717223
Budgets($),0,0,0,0
CloudSearch($),12528.30303,4492.547501,3953.060088,4082.695439
Athena($),0.12901,0.12431,0.0047,NaN
EC2-Other($),671008.5002,245472.5549,213944.7836,211591.1617
Total cost ($),4655484.685,1554168.747,1492007.023,1609308.915

In [29]:
x = df_usage.T
x.columns = ["total",1,2, 3]

In [52]:
# x.sort_values(by="total", axis=1)
x["total"] = [float(t) for t in x['total'] if t in ('UsageType Total', '') else 0]

SyntaxError: invalid syntax (1779448325.py, line 2)

In [55]:
y = x[x.index != 'UsageType']

In [56]:
y['total'] = [float(t) for t in y['total']]

/var/folders/zr/sdmlb9r15gv4f1vy8vq4721c0000gn/T/ipykernel_43892/3899652741.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y['total'] = [float(t) for t in y['total']]

In [64]:
len(x)

710

In [62]:
z = y.sort_values('total').tail(30)
z

,total,1,2,3
BoxUsage:c3.4xlarge($),3.998432e+04,13710.92718,11523.415,14749.97763
BoxUsage:m3.2xlarge($),4.303840e+04,18460.0815,13625.0765,10953.24252
BoxUsage:m3.xlarge($),4.437374e+04,22226.34888,13151.1375,8996.253715
HeavyUsage:r3.2xlarge($),4.892669e+04,15832.692,16176.95961,16917.03785
HeavyUsage:i2.xlarge($),4.976593e+04,13469.67317,17407.4564,18888.8004
BoxUsage:r3.8xlarge($),5.962610e+04,19312.805,13281.82375,27031.47391
HeavyUsage:i2.2xlarge($),7.055285e+04,21858.40033,23585.59134,25108.85945
BoxUsage:c3.2xlarge($),8.022687e+04,5067.138,13273.845,61885.89128
BoxUsage:i3.2xlarge($),8.056417e+04,42686.98009,35567.376,2309.812272
BoxUsage:c3.8xlarge($),9.042294e+04,21337.50933,22346.37,46739.06476
HeavyUsage:c3.xlarge($),9.193147e+04,26856.78424,31547.76999,33526.91392
Requests-Tier1($),9.247209e+04,33859.24654,29958.81024,28654.03698
SpotUsage:r3.8xlarge($),9.471923e+04,17886.03939,14356.2945,62476.8995
HeavyUsage:d2.2xlarge($),9.981113e+04,32478.2784,32803.15136,34529.69593
BoxUsage:d2.2xlarge($),1.013543e+05,42005.82,47238.09,12110.34926
SpotUsage:d2.8xlarge($),1.033289e+05,30815.53695,53380.19,19133.16959
DataTransfer-Out-Bytes($),1.034420e+05,36776.14025,33646.81569,33019.04112
DataProcessing-Bytes($),1.225843e+05,43540.73628,41511.10451,37532.44529
BoxUsage:i2.xlarge($),1.313012e+05,42344.65491,40723.926,48232.58311
HeavyUsage:c3.2xlarge($),1.346008e+05,38487.83145,46157.31347,49955.63348
HeavyUsage:c3.8xlarge($),1.472396e+05,81745.72451,51188.24251,14305.58988
BoxUsage:i2.8xlarge($),1.527406e+05,24764.2725,53871.37,74104.95305
Dollar($),1.650000e+05,55000,55000,55000
HeavyUsage:i2.4xlarge($),1.667697e+05,51199.71011,56158.27003,59411.71289
BoxUsage:i2.2xlarge($),1.679202e+05,53357.3252,50837.985,63724.8751
BoxUsage:c3.xlarge($),1.689041e+05,35572.19202,38983.614,94348.27023
BoxUsage:i2.4xlarge($),2.231059e+05,34331.88,78591.1225,110182.9053
TimedStorage-ByteHrs($),4.225078e+05,153722.2112,135127.8633,133657.7512
DataTransfer-Regional-Bytes($),7.088501e+05,263047.387,224787.3902,221015.3672
Total cost ($),4.655485e+06,1554168.747,1492007.023,1609308.915

In [63]:
z.index

Index(['BoxUsage:c3.4xlarge($)', 'BoxUsage:m3.2xlarge($)',
       'BoxUsage:m3.xlarge($)', 'HeavyUsage:r3.2xlarge($)',
       'HeavyUsage:i2.xlarge($)', 'BoxUsage:r3.8xlarge($)',
       'HeavyUsage:i2.2xlarge($)', 'BoxUsage:c3.2xlarge($)',
       'BoxUsage:i3.2xlarge($)', 'BoxUsage:c3.8xlarge($)',
       'HeavyUsage:c3.xlarge($)', 'Requests-Tier1($)',
       'SpotUsage:r3.8xlarge($)', 'HeavyUsage:d2.2xlarge($)',
       'BoxUsage:d2.2xlarge($)', 'SpotUsage:d2.8xlarge($)',
       'DataTransfer-Out-Bytes($)', 'DataProcessing-Bytes($)',
       'BoxUsage:i2.xlarge($)', 'HeavyUsage:c3.2xlarge($)',
       'HeavyUsage:c3.8xlarge($)', 'BoxUsage:i2.8xlarge($)', 'Dollar($)',
       'HeavyUsage:i2.4xlarge($)', 'BoxUsage:i2.2xlarge($)',
       'BoxUsage:c3.xlarge($)', 'BoxUsage:i2.4xlarge($)',
       'TimedStorage-ByteHrs($)', 'DataTransfer-Regional-Bytes($)',
       'Total cost ($)'],
      dtype='object')

In [88]:
a = df_usage.T
a.columns = ['total', '1', '2', '3']
a = a[a.index != "UsageType"].sort_values('total', ascending=False)
a.head(40)[['total']]

                                      total
Total cost ($)                  4655484.685
DataTransfer-Regional-Bytes($)  708850.1443
TimedStorage-ByteHrs($)         422507.8257
BoxUsage:i2.4xlarge($)          223105.9078
BoxUsage:c3.xlarge($)           168904.0762
BoxUsage:i2.2xlarge($)          167920.1853
HeavyUsage:i2.4xlarge($)         166769.693
Dollar($)                            165000
BoxUsage:i2.8xlarge($)          152740.5956
HeavyUsage:c3.8xlarge($)        147239.5569
HeavyUsage:c3.2xlarge($)        134600.7784
BoxUsage:i2.xlarge($)            131301.164
DataProcessing-Bytes($)         122584.2861
DataTransfer-Out-Bytes($)       103441.9971
SpotUsage:d2.8xlarge($)         103328.8965
BoxUsage:d2.2xlarge($)          101354.2593
HeavyUsage:d2.2xlarge($)        99811.12569
SpotUsage:r3.8xlarge($)         94719.23339
Requests-Tier1($)               92472.09377
HeavyUsage:c3.xlarge($)         91931.46815
BoxUsage:c3.8xlarge($)           90422.9441
BoxUsage:i3.2xlarge($)          80564.16837
BoxUsage:c3.2xlarge($)          80226.87428
HeavyUsage:i2.2xlarge($)        70552.85113
BoxUsage:r3.8xlarge($)          59626.10266
HeavyUsage:i2.xlarge($)         49765.92997
HeavyUsage:r3.2xlarge($)        48926.68946
BoxUsage:m3.xlarge($)           44373.74009
BoxUsage:m3.2xlarge($)          43038.40052
BoxUsage:c3.4xlarge($)          39984.31981
HeavyUsage:r3.8xlarge($)        39152.57762
HeavyUsage:r3.xlarge($)         31136.35827
BoxUsage:m3.large($)            29815.01697
BoxUsage:d2.8xlarge($)             28087.41
CW:Requests($)                  27567.87215
HeavyUsage:m3.xlarge($)         27525.09346
HeavyUsage:m3.large($)          27102.77778
BoxUsage:d2.xlarge($)           22560.30179
HeavyUsage:i2.8xlarge($)        21498.75325
BoxUsage:i3.4xlarge($)            21459.048

In [83]:
a

,0,1,2,3
APS3-DataTransfer-In-Bytes($),0,0,0,0
USE1-USE2-AWS-In-Bytes($),0,0,0,0
agent-assessments-free($),0.0,NaN,NaN,0.0
EU-CAN1-AWS-In-Bytes($),0.0,0.0,NaN,NaN
USW2-APS3-AWS-In-Bytes($),0,0,0,0
...,...,...,...,...
BoxUsage:c3.xlarge($),168904.0762,35572.19202,38983.614,94348.27023
BoxUsage:i2.4xlarge($),223105.9078,34331.88,78591.1225,110182.9053
TimedStorage-ByteHrs($),422507.8257,153722.2112,135127.8633,133657.7512
DataTransfer-Regional-Bytes($),708850.1443,263047.387,224787.3902,221015.3672
Total cost ($),4655484.685,1554168.747,1492007.023,1609308.915

In [81]:
b = df_service.T
b.columns = ['0', '1', '2', '3']
b = b[b.index != 'Service']
b = b.sort_values('0', ascending=False)
b.head(20)

                                     0            1            2            3
Total cost ($)             4655484.685  1554168.747  1492007.023  1609308.915
EC2-Instances($)           2748018.804  854158.3435  884052.8967  1009807.564
EC2-Other($)               671008.5002  245472.5549  213944.7836  211591.1617
S3($)                      527273.0818  192020.3415  169241.6837  166011.0566
EC2-ELB($)                 342327.7467  127500.3408  111625.0812  103202.3247
Premium Support($)              165000        55000        55000        55000
EMR($)                       81614.729    26237.364    23823.059    31554.306
RDS($)                     28292.68694  9799.866728  9438.244032  9054.576183
CloudFront($)              23906.85779  8547.627189   8083.85436  7275.376242
Elasticsearch Service($)   16863.41042  7940.945035  4824.428884  4098.036505
CloudWatch($)              14490.36061  14428.61185    49.906899     11.84186
CloudSearch($)             12528.30303  4492.547501  3953.060088  4082.695439
Redshift($)                    7273.35      2449.35      2372.95      2451.05
ElastiCache($)                6588.672     2220.096      2148.48     2220.096
Tax($)                         3601.57      1284.13      1158.03      1159.41
Route 53($)                2773.201915  1020.425738  1065.593793   687.182383
Config($)                     1231.663      338.221       415.72      477.722
Key Management Service($)   843.288562    302.00245   283.462042   257.824069
DynamoDB($)                 843.043375   438.398867   227.749928    176.89458
Lambda($)                     234.2066   157.224455    33.443694    43.538451

In [82]:
b.head(20).index

Index(['Total cost ($)', 'EC2-Instances($)', 'EC2-Other($)', 'S3($)',
       'EC2-ELB($)', 'Premium Support($)', 'EMR($)', 'RDS($)', 'CloudFront($)',
       'Elasticsearch Service($)', 'CloudWatch($)', 'CloudSearch($)',
       'Redshift($)', 'ElastiCache($)', 'Tax($)', 'Route 53($)', 'Config($)',
       'Key Management Service($)', 'DynamoDB($)', 'Lambda($)'],
      dtype='object')

In [90]:
np.square(1)

np.int64(1)

In [91]:
1 //2

0

In [98]:
from collections import Counter
Counter([1,2,3,3])

Counter({3: 2, 1: 1, 2: 1})

In [100]:
a = '123lks2331'
a.count('s')

1

In [102]:
from collections import Counter

# Create a large test string
s = "ABCDEFGHIJKLMNOPQRSTUVWXYZ" * 10_000_00  # ~2.6 million chars

# Verify correctness
print(
    len([l for l in s if l == "T"]),
    sum(1 for l in s if l == "T"),
    s.count("T"),
    Counter(s)["T"]
)

# Benchmark with notebook magic
%timeit s.count("T")
%timeit len([l for l in s if l == "T"])
%timeit sum(1 for l in s if l == "T")
%timeit Counter(s)["T"]

1000000 1000000 1000000 1000000
9.42 ms ± 79 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
276 ms ± 3.73 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
291 ms ± 14.5 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
592 ms ± 5.13 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [103]:
s = {1, 2, 3}

In [107]:
s.update([1,2, 6])

In [108]:
s

{1, 2, 3, 6}

In [110]:
import primesieve

ModuleNotFoundError: No module named 'primesieve'

In [114]:
from sympy import sieve
list(sieve.primerange(10))

[2, 3, 5, 7]

In [115]:
a = [1,2,3, 7, 1, 5]

In [127]:
from sortedcontainers import SortedList

# Create and initialize a SortedList
sl = SortedList([3, 1, 4, 1, 5, 9, 2])
print("Initial SortedList:", sl)

# Add new elements, and they are automatically inserted in the correct position
sl.add(8)
print("After adding 8:", sl)

sl.update([0, 7])
print("After updating with [0, 7]:", sl)

# Remove an element
sl.discard(5)
print("After discarding 5:", sl)

# Efficiently find elements using binary search (bisect)
index = sl.bisect_left(4)
print("Index where 4 would be inserted:", index)
sl = SortedList([])

Initial SortedList: SortedList([1, 1, 2, 3, 4, 5, 9])
After adding 8: SortedList([1, 1, 2, 3, 4, 5, 8, 9])
After updating with [0, 7]: SortedList([0, 1, 1, 2, 3, 4, 5, 7, 8, 9])
After discarding 5: SortedList([0, 1, 1, 2, 3, 4, 7, 8, 9])
Index where 4 would be inserted: 5

In [128]:
sl

SortedList([])

In [130]:
k = 6
sl.bisect(k), sl.bisect_left(k), sl.bisect_right(k)

(0, 0, 0)

In [134]:
1 & 1, 1 & 2, 1 & 0, 2 & 3

(1, 0, 0, 2)

In [138]:
a = ~ 0
a

-1

In [139]:
import numpy as np
import time

n = 10**6
lst = [0] * n
arr = np.zeros(n, dtype=int)

t0 = time.time()
for i in range(n):
    lst[i] = 5
print("List:", time.time() - t0)

t0 = time.time()
for i in range(n):
    arr[i] = 5
print("Array:", time.time() - t0)

List: 0.033975839614868164
Array: 0.06145596504211426

In [140]:
a = 3, b = 5

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3195668222.py, line 1)